!!! XML
%html
  %head
    %script{:type => 'text/javascript', :src => './jquery.js'}
    %script{:type => 'text/javascript', :src => './iphone-js-console.js'}
    %script{:type => 'text/javascript', :src => '../iphone-shake-event.js'}
    %script{:type => 'text/javascript', :src => './main.js'}    
  %body
    %h1 iPhone Shake Event (for debug)
    %div#main
