!!! XML
%html
  %head
    %script{:type => 'text/javascript', :src => '../iphone-shake-event.js'}
    :javascript
       var shake = new iPhoneShake();
       shake.onShake(function(){
         alert('shake');
       });
  %body
    %h1 iPhone Shake Event
    %div#main
